@use "./navbar" as navbar;

.view1 {
  @include navbar.flexCenter(space-around, center);
  padding-left: 80px;

  .aside-left {
    // width: 50%;
    margin-bottom: 150px;
    // margin-right: 250px;
border: 2px solid black;

    .content {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        color: #1e293b;
      }

      p {
        font-size: 1.1rem;
        color: #64748b;
        line-height: 1.6;
      }

      .hero-button {
        @include navbar.flexCenter(flex-start, center, 15px);
        

        p{
          color: #08089f;
          font-size: 12px;
          margin-left: 20px;
        }

        #button-1 {
          @include navbar.button(12px 30px, #08089f);
          border-radius: 30px;
          border: none;
          font-weight: 500;
          cursor: pointer;
          transition: all ease 0.2s;

          &:hover {
            background-color: #2563eb;
          }
          &:active {
            scale: 0.95;
          }
        }

        #button-2 {
          border: none;
          color: white;
          background-color: rgb(34, 212, 151);
          padding: 12px;
          border-radius: 50%;
          text-align: center;
          cursor: pointer;
          margin-right: 4px;
          transition: all ease 0.2s;
          
          &:hover {
            background-color: #059669;
          }
          &:active {
            scale: 0.9;
          }
        }
      }

      .hero-bottom {
        @include navbar.flexCenter(flex-start, center, 20px);
        
        p {
          @include navbar.flexCenter(flex-start, center, 8px);
          color: #475569;
          font-weight: 500;
          
          i {
            color: rgb(55, 52, 169);
            font-size: 1.2rem;
          }
        }
      }


      img{
        height: 100px;
        width: 100px;
        position: absolute;
        left: -10px;
        bottom: 120px;
      }
    }
  }

  .aside-right {
  position: relative;
  width: 50%;
  height: 550px;
  overflow: visible;

  img {
    position: absolute;
  }

  .hand-big {
    height: 500px;
    left: 50px;
    top: 0;
    z-index: 3;
  }

  .hand-group {
    height: 350px;
    right: 30px;
    bottom: 0;
    z-index: 2;
    transform: rotate(8deg);
  }
}

}